# BACKEND VARIABLES
# This env should be in the server directory

SUPERUSER=username
PASSWORD=password

SERVER_SECRET_KEY=secret_key
DEBUG=True # change to False in production

TOKEN_ENCRYPTION_KEY=encryption_key
REFRESH_ENCRYPTION_KEY=encryption_key
ENCODE_ALGORITHM=HS256
TOKEN_EXPIRATION_HOURS=24
REFRESH_EXPIRATION_DAYS=30
